if devMode
	- var pageTitle = 'Homepage'
	- var list = ['test', 'test2']
else
	- var pageTitle = '{{ entry.title }}'
	
extends ../_default.jade

block body

	h1 #{pageTitle}

	| {{ entry.body }}

	h2 Recent News

	ul
		if devMode
			for item in ['test', 'test2']
				li
					a(href='#{item}') #{item}
		else
			| {% for entry in craft.entries.section('news').limit(5).find() %}
			li
				a(href='{{ entry.url }}') {{ entry.title }}
			| {% endfor %}