| {#
|  # Layout template
|  # ---------------
|  #
|  # This template defines your site’s global layout. It can be
|  # “extended” by other templates to fill in the gaps.
|  #
|  # See Twig’s Template Inheritance documentation for more details:
|  # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
|  #}

doctype html
html(lang='en-US')
	head
		meta(charset='utf-8')
		title {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}
		link(rel='home' href='{{ siteUrl }}')
	body
		#container
			header#header
				h1
					a(href='{{ siteUrl }}') {{ siteName }}
			nav
				ul
					li
						a(
							href='{{ url(\'news\') }}'
							class='{% if craft.request.firstSegment == \'news\' %} active {% endif %}'
							)
			main#content(role='main')
				| {% block content %}{% endblock %}
			footer#footer Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with #[a(href='http://buildwithcraft.com') Craft]